extends layout
block content
      .app_body(data-track=formId)
        .center
          span#album
            img(src='http://placehold.it/350x350')
          span#content
            .row
              .playing
                .track
                .desc
            #lift.row
              .buttons
                span#prev.fa.fa-fast-backward 
                span#play.fa.fa-play
                span#next.fa.fa-fast-forward 
                span#stop.fa.fa-stop
                span#search.fa.fa-search
                span#add.fa.fa-plus

              input.find-input(type='text', placeholder='Search a music...')
              input.add-input(type='text', placeholder='Paste a track url...')
              img.working(src='/images/loading.gif')    
              span#progress
                .loaded
              span#time 00:00
            .row
              .song
               //span.fa.fa-volume-up 
            script(type='text/x-handlebars-template', id='some-template')

                span#playlist
                    ul
                        {{#tracks}}
                        li
                          a.track-item(href='#',data-permalink='{{uri}}' title='{{title}}')
                            span
                                {{fullName tracks}}
                            figure
                              img.item(src='{{artwork_url}}')

                        {{/tracks}}