extends layout
block content
    .center
        span#album
            img(src='http://placehold.it/350x350')
        span#content
            .row
                .playing
                    .track='Daft Punk - Arround The World'
                    .desc='lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos'
            #lift.row
                span.fa.fa-play#play
                span.fa.fa-stop#stop
                span#progress
                    .loaded
                span#time='01:24'


            .row
                .song
                    img(id='speaker', src='http://accurate-voting.org/wp-content/uploads/2010/03/200px-Speaker_Icon_gray-sm.png')
        span#playlist
            ul
                li
                    a(href='#', title='') A track
                        figure
                            img(src='http://placehold.it/3450x350', class='item')
                li
                    a(href='#', title='') A track
                        figure
                            img(src='http://placehold.it/3450x350', class='item')     
                li
                    a(href='#', title='') A track
                        figure
                            img(src='http://placehold.it/3450x350', class='item')
                li
                    a(href='#', title='') A track
                        figure
                            img(src='http://placehold.it/3450x350', class='item')    
                li
                    a(href='#', title='') A track
                        figure
                            img(src='http://placehold.it/3450x350', class='item')
                li
                    a(href='#', title='') A track
                        figure
                            img(src='http://placehold.it/3450x350', class='item')     
                li
                    a(href='#', title='') A track
                        figure
                            img(src='http://placehold.it/3450x350', class='item')
                li
                    a(href='#', title='') A track
                        figure
                            img(src='http://placehold.it/3450x350', class='item')     
                li
                    a(href='#', title='') A track
                        figure
                            img(src='http://placehold.it/3450x350', class='item')
                li
                    a(href='#', title='') A track
                        figure
                            img(src='http://placehold.it/3450x350', class='item')