extends layout
block content
        .center
          span#album
            img(src='http://placehold.it/350x350')
          span#content
            .row
              .playing
                .track
                .desc
            #lift.row
              span#play.fa.fa-play
              span#stop.fa.fa-stop
              span#search.fa.fa-search
              span#add.fa.fa-plus
              input.find-input(type='text', placeholder='Search a music...')
              input.add-input(type='text', placeholder='Paste a track url...')    
              span#progress
                .loaded
              span#time 00:00
            .row
              .song
                img#speaker(src='http://accurate-voting.org/wp-content/uploads/2010/03/200px-Speaker_Icon_gray-sm.png')
            script(type='text/x-handlebars-template', id='some-template')

                span#playlist
                    ul
                        {{#tracks}}
                        li
                          a.track-item(href='#',data-permalink='{{uri}}' title='{{title}}')
                            span
                                {{fullName tracks}}
                            figure
                              img.item(src='{{artwork_url}}')

                        {{/tracks}}

        iframe.sc-widget(src='http://w.soundcloud.com/player/?url=//api.soundcloud.com/users/724640')
        script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(type='text/javascript', src='javascripts/scripts.min.js')
        script(src='http://w.soundcloud.com/player/api.js')
        
        
        script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')