doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(description=description)
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Sintony:700')
    link(href='http://fonts.googleapis.com/css?family=Sintony:400', rel='stylesheet', type='text/css')
    
  body
    block content
