%clearfix {
  &:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }

  zoom: 1;
}

%image_replacement {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

%ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
