@import url(font-awesome.css);
* {
  margin: 0;
  padding: 0;

}
body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  background: #ddd;
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
    overflow: hidden;
}
.working{
  width: 16px;
  height: 16px;
  position: absolute;
  top: 77px;
  z-index: 1000;
  right: 29px;
  display: none;
}
.add-input, .find-input{
  position: absolute;
  top: 71px;
  left: 15px;
  width: 90%;
  border: 1px solid #EEE;
  padding: 5px;
  border-radius: 4px;
  z-index: 999;
}
.add-input, #search{
  display: none;
}
#add,#search{
  position: relative;
  left: 140px;
}
.buttons span{
  position: relative;
  z-index: 99999;
}
.center {
   width: 650px;
   height: 200px;
   position: relative;

   left: 50%;
   top: 60%; 
   margin-left: -300px;
   margin-top: -150px;
}

#album {
  float: left;
  display: inline-block;
  width: 200px;
  height: 200px;
}

img {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.song
{
  width: 80%;
  /* height: 16px; */
  left: 35px;
  position: absolute;
  bottom: 75px;
}
#content {
  background: #FFF;
  display: inline-block;
  float: left;
  width: 440px;
  height: 200px;
}

.row {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 20px;
  color: #555;
  position: relative;
}
#lift {
  margin-top: -25px;
}
.row span{
    margin-right:20px;
}
iframe{
  left: 9999999991;
  position: absolute;
}
.app_body{
  top: 150px;
  position: relative;
}
#playlist{
  height: 100%;
  width: 641px;
  display: block;
  position: absolute;
  top: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
#playlist div{
position: fixed;
width: inherit;
z-index: 999;
}
#playlist div i{
border-radius: 5px;
width: 26px;
text-align: center;
margin: 7px;
font-size: 25px;
border: 1px solid;
}
#playlist ul{
  list-style: none;
position: relative;
}
#playlist ul li a{
  background: #34495E;
  color: #67809F;
  text-decoration: none;
  float: left;
  width: 100%;
  border-bottom: 1px solid #2574A9;
}
#playlist ul li a:hover{
  background: #22313F;
  color: #fff;
  transition: All .3s ease-in-out;

}
#playlist ul li a figure{
float: left;
width: 45px;
height: 50px;
margin-right: 15px;
}
.buttons{
position: relative;
top: 15px;
left: 15px;
text-align: left;
}
.buttons span{
  border: 2px solid #fff;
}
.buttons span:active{
  border-color: #3498db;
}
/*#play {
  left: 15px;
  position: absolute;
  top: 45px;
  font-size: 15px;
  line-height: 19px;
  width: 20px;

}
#stop {
  left: 45px;
  position: absolute;
  top: 45px;
  font-size: 15px;
  line-height: 19px;
  width: 20px;
}*/
.current{
  transition: All .3s ease-in-out;
  font-weight: bold;
}
.current a{
  transition: All .3s ease-in-out;
  background: #3498db !important;
}
.current span{
  transition: All .3s ease-in-out;
    color: #fff;
}
iframe {
	position: absolute;
	left: 1500px;
}
#progress {
  background: #22313F;
  color: #555;
  display: inline-block;
  width: 80%;
  height: 5px;
  left: 15px;
  position: absolute;
  cursor:pointer;
  top: 20px;
}
#progress .loaded{
  background: #19B5FE;
  height: 100%;
  width: 0%;
  position: absolute;
  z-index: 99;
  left: 0;

}
.fa{
  cursor: pointer;
  padding: 5px;
}
.loaded span {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  background:red;
}
#lift.row{
  width: 100%;  
  margin: 0 auto;
  display: table;
  position: relative;
}
#total {
  color: #83BFE5;
  display: inline-block;
  background: #83BFE5;
  margin-left: -4px;
  width: 70px;
  height: 16px;
}
#time {
  position: absolute;
  right: 15px;
  font-size: 12px;
  font-weight: 100;
  line-height: 5px;
  top: 20px;
}
.playing{
  text-align: left;
  margin-left: 15px;
  font-weight: bold;
}
.desc{
  font-weight: normal;
  width: 100%;
}
#speaker {
  height: 15px;
  width: 15px;
  float: right;
  padding-right: 17px;
  margin-top: -17px;
}

#play:hover {
  cursor: pointer;
}

.vol {
    background: lightgrey;
    width: 10px;
    height: 100px;
    position: relative;
    cursor: default;
}
.controller {
    position: absolute;
    top:0px;
    background: red;
    width: 10px;
    height: 10px;
    text-indent: 20px;
}
p {
    margin: 10px 0px;
    font-family: arial;
}
.tooltip{
  background: #000;
  border: none;
  color:#fff;
  border-radius: 4px;
  padding: 3px;
  position: relative;
}
.tooltip:after {
  top: 80%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 8px;
  margin-left: 10px;
}